<% provide(:title, 'Home') %>
<div class="center">
	<%= link_to image_tag("logo.png", alt: "Kalindar"), 'http://kalindar.com' %>
</div>
<div class="row-fluid center">
	<div class="span12 well">
		<div class="span6">
			<h1 id="tagline">Make your student life awesome!</h1>
			<p id="phrase">A new way to organize your life as a student and make sure you never miss a deadline again!</p>
		</div>
		<div class="span4 signup">
			<h2>Sign up</h2>

			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			  <%= devise_error_messages! %>

			  <div><%= f.label :first_name %>
			  <%= f.text_field :first_name, :autofocus => true %></div>

			  <div><%= f.label :last_name %>
			  <%= f.text_field :last_name %></div>

			  <div><%= f.label :profile_name %>
			  <%= f.text_field :profile_name %></div>

			  <div><%= f.label :school %>
			  <%= f.text_field :school %></div>

			  <div><%= f.label :email %>
			  <%= f.email_field :email %></div>
			  <% if f.object.password_required? %>

			    <div><%= f.label :password %>
			    <%= f.password_field :password %></div>

			    <div><%= f.label :password_confirmation %>
			    <%= f.password_field :password_confirmation %></div>

			  <% end %>

			  <div><%= f.submit "Sign up" %></div>
			<% end %>

		</div>
	</div>
</div>