<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :first_name %>
  <%= f.text_field :first_name, :autofocus => true %></div><br />

  <div><%= f.label :last_name %>
  <%= f.text_field :last_name %></div><br />

  <div><%= f.label :profile_name %>
  <%= f.text_field :profile_name %></div><br />

  <div><%= f.label :school %>
    <%= f.select :school, [["University of Waterloo", "University of Waterloo"], ["Wilfrid Laurier University", "Wilfrid Laurier University"], ["University of Toronto", "University of Toronto"], ["University of Ottawa", "University of Ottawa"]] %></div><br />

  <div><%= f.label :program %>
  <%= f.text_field :program %></div><br />

  <div><%= f.label :email %>
  <%= f.email_field :email %></div><br />

  <% if f.object.password_required? %>

    <div><%= f.label :password %>
    <%= f.password_field :password %></div><br />

    <div><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %></div><br />

  <% end %>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
