<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Due date:</b>
  <%= @event.due_date %>
</p>

<p>Number of people attending this event: <%= @event.users.count %></p>

<div class="fb-comments" data-href=""+<%= "http://#{request.host+request.fullpath}" %>+"" data-width="470" data-num-posts="10"></div>
