<div class="row">
	<div class="span4">
		<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "well"}) do |f| %>

		<fieldset>
			<legend>Sign In</legend>
		  <%= f.input :email, placeholder: 'user@domain.com' %>
		  <%= f.input :password, hint: 'No special characters.' %>
		  <% if devise_mapping.rememberable? -%>
		    <div><%= f.input :remember_me, as: :boolean  %></div>
		  <% end -%>

		  <div><%= f.button :submit %></div>
		</fieldset>
		<% end %>

		<%= render "devise/shared/links" %>
	</div>
	<div class="span8">
		<div class="hero-unit">
			<h1>Log in here!</h1>
			<br>
			<p>Not a User? Register here</p>
			<p>
				<a class="btn btn-primary">
					Register
				</a>
			</p>
		</div>
	</div>
</div>
