<%= simple_form_for(@course, html: {class: "form-horizontal"}) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%=  f.input :course_code %>
  <%= f.input :name %>
  <%= f.input :school, :as => :hidden, :input_html => { :value => current_user.get_school } %>
  <%= f.input :description %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
