<div class="page-header">
  <h1>All Courses</h1>
</div>

<div>
  <%= link_to "Add a Course!", search_courses_path, class: "btn btn-large btn-primary" %>
<div>
<% current_user.courses.each do |course| %>
  <div class="course">
    <strong><%= course.course_code %></strong>
    <p><%= course.name %></p>
    <div class="meta">
      <%= link_to 'View', course %>
      <span class="admin">
        | <%= link_to "Edit", edit_course_path(course) %> |
          <%= link_to "Delete", course, method: :delete, data: { confirm: "Are you sure you want to delete this course?"} %> |
      </span>
    </div>
  </div>
<% end %>
