<h1>Select the course you would like to enroll in</h1>

<div>
	<strong>To add a new course enter in your course code:</strong>
  	<%= form_tag search_courses_path, :method => 'get', html: {class: "form-horizontal"} do %>
      	<%= text_field_tag :search, params[:search] %>
      	<%= submit_tag "Add", :name => nil %>
  	<% end %>
</div>

<p>If you do not see the course you want here, please <%= link_to 'Create it!', new_course_path %></p>

<% @courses.each do |course| %>
  <% if current_user.school == course.school %>
    <div class="course">
      <div class="row">
        <div class="span8">
          <strong><%= course.course_code %></strong>
          <p><%= course.name %></p>
        </div>
        <div class="span4">
          <%= link_to '', add_enrolled_ins_path(:course => course.id), :class => "icon-plus" %>
        </div>
    </div>
  <% end %>
<% end %>