<p id="notice"><%= notice %></p>

<h2><%= @course.course_code %></h2>
<h3><%= @course.name %></h3>
<div class="row-fluid">
	<div class="span3 descr">
		<p>
			<%= @course.description %>
			<br>
			<br>
			Number of events available: <%= @course.events.count %>
		</p>
	</div>
	<div class="well span8">
		<h4>My Events</h4>
		<% if @course.events.empty? %>
			<p>You have not addded any events yet</p>
			<%= form_for([@course, @course.events.build]) do |f| %>
			  <div class="field">
			    <%= f.label :name %><br />
			    <%= f.text_field :name %>
			  </div>
			  <div class="field">
			    <%= f.label :description %><br />
			    <%= f.text_area :description %>
			  </div>
			  <div class='field'>
			  	<%= f.label :due_date %><br />
			    <%= f.text_field :due_date %>
		      </div>
			  <div class="actions">
			    <%= f.submit %>
			  </div>
			<% end %>
		<% else %>
			<% current_user.events.each do |event| %>
				<% if event.course.id == @course.id %>
					<div class="course">
						<p><%= event.name %> - <%= event.due_date %></p>
						<span class="admin">
							<%= link_to 'remove event', remove_user_events_path(:event => event.id) %>
						</span>
					</div>
				<% end %>
			<% end %> 
		<% end %>
		<br>
		<%= link_to 'Add Events', search_event_courses_path(:id => @course.id) %>
	</div>
</div>

<%= link_to 'Edit Course', edit_course_path(@course) %> |
<%= link_to "Delete", remove_enrolled_ins_path(:course => @course.id) %> |
<%= link_to 'Back', courses_path %>
