<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @course.title %>
</p>

<p>
  <b>Body:</b>
  <%= @course.body %>
</p>

<p>
  <b>C name:</b>
  <%= @course.c_name %>
</p>

<p>
  <b>C desc:</b>
  <%= @course.c_desc %>
</p>

<p>
  <b>C:</b>
  <%= @course.c_id %>
</p>

<p>
  <b>C school:</b>
  <%= @course.c_school %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
